.App {
  text-align: center;
}

.App-logo {
  height:50vmin;
  margin-top: 2vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input {
  text-align: center;
  color: #fff;
  background-color: #282c34;
  width: 60%;
  border: none;
  outline-style: none;
  border-radius: 25px;
  font-size: calc(10px + 2vmin);
}

.Input::placeholder {
  text-align: center;
}

.ButtonDiv {
  height: 7vw;
  display: flex;
  flex-flow: row;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.Button, .CancelButton {
  color: #fff;
  background-color: #282c34;
  border: 1px solid gray;
  outline-style: none;
  border-radius: 50px;
  font-size: calc(5px + 2vmin);
  cursor: pointer;
  padding: calc(2px + 2vmin) calc(2px + 2vmin);
}

.CancelButton {
  animation: FadeIn 3s ease-in-out;
  margin-left: 1vw;
  font-size: 1.5vmin;
  padding: .4vw .5vw;
  color: red;
  border-color: red;
}

.CancelButton:hover {
  background-color: red;
  color: #fff;
}

.Button:hover {
  background-color: #fff;
  color: #282c34;
}
.Error, .Status, .Current {
  font-size: calc(5px + 2vmin);
}

.Error {
  animation: FadeIn 3s ease-in-out;
  color: red;
}

.Status {
  animation: FadeInOut 5s ease-in-out;
  font-weight: bold;
  color: lightgreen;
}

.Current {
  animation: FadeIn 3s ease-in-out;
  color: wheat;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media only screen and (max-width: 499px) {
  .App-logo {
    height:65vmin;
    margin-top: 2vh;
  }

  .ButtonDiv {
    height: 20vw;
    width: 95%;
  }

  .CancelButton {
    margin-left: 3vw;
    font-size: 2vmin;
    padding: 1.25vw 1.5vw;
  }

  .Error, .Status, .Current {
    font-size: calc(5px + 3vmin);
  }

  .Input {
    width: 95%;
  }

}