.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
  z-index: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input {
  text-align: center;
  color: #fff;
  background-color: #282c34;
  width: 60%;
  border: none;
  outline-style: none;
  border-radius: 25px;
  font-size: calc(10px + 2vmin);
  z-index: 1;
}

.Input::placeholder {
  text-align: center;
}

.Button {
  margin-top: 10vh;
  color: #fff;
  background-color: #282c34;
  border: 1px solid gray;
  outline-style: none;
  border-radius: 50px;
  font-size: calc(5px + 2vmin);
  cursor: pointer;
  padding: calc(2px + 2vmin) calc(2px + 2vmin);
}

.Button:hover {
  background-color: #fff;
  color: #282c34;
}
.Error, .Status {
  font-size: calc(2px + 2vmin);
}

.Error {
  color: red;
}

.Status {
  font-weight: bold;
  color: lightgreen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
